:root {
  --main-bg-color: rgb(255, 251, 251);
  --main-color: rgb(112, 102, 102);
  --anchor-color: rgb(158, 34, 34);
  --anchor-hover-color: rgb(128, 30, 0);
  --anchor-focus-color: rgb(160, 118, 28);
  --ul-bg-color: rgb(249, 255, 196);
  --border-bottom-color: rgb(199, 117, 10);
  --p-5-px: 0.3125rem;
  --p-40-px: 2.5rem;
  --p-50-px: 3.125rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  height: 100vh;
  /* overflow-x: hidden; */
  max-width: 100%;
  width: 100vw;
}

main {
  background-color: var(--main-bg-color);
  padding: var(--p-5-px);
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  padding: var(--p-5-px) 0;
}

h2 {
  font-size: 1.5rem;
  padding: var(--p-5-px) 0;
  text-align: left;
}

h3,
h4 {
  font-size: 1.2rem;
  margin-left: var(--p-5-px);
  padding: var(--p-5-px) 0;
}

a {
  color: var(--anchor-color);
  font-size: 1.2rem;
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--anchor-hover-color);
  font-weight: bold;
  text-decoration: underline;
  transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -ms-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
}

a:focus {
  color: var(--anchor-focus-color);
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline;
}

.video-tut-section-ul {
  background-color: var(--ul-bg-color);
}

.video-tut-section ul li {
  align-items: center;
  border-bottom: 1px solid var(--border-bottom-color);
  display: grid;
  justify-content: center;
  grid-gap: var(--p-5-px);
  /* grid-template-columns: 150px 200px 300px 1fr; */
  grid-template-columns:
    minmax(5%, 1fr)
    minmax(20%, 1fr)
    minmax(20%, 1fr)
    minmax(50%, 1fr);
  padding: var(--p-5-px);
}

.video-tut-section-ul li img {
  height: var(--p-50-px);
  width: var(--p-50-px);
}

/* Media Query */
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
    text-align: center;
  }

  h4 {
    font-size: 0.9rem;
  }

  main {
    font-size: 0.8rem;
  }

  a {
    font-size: 1rem;
  }

  .video-tut-section-ul h3 {
    display: none;
  }

  .video-tut-section ul li {
    grid-template-columns:
      minmax(10%, 1fr)
      minmax(30%, 1fr)
      minmax(55%, 1fr);
  }

  .video-tut-section-ul li img {
    height: var(--p-40-px);
    width: var(--p-40-px);
  }
}
